<div class="form-general">
  <form (ngSubmit)="guardar()" #formRef="ngForm">

    <div class="field">
      <label for="identificationType">Tipo Identificación:</label>
      <p-select [options]="tipoIdentificaciones" [(ngModel)]="form.identificationType" optionLabel="name"
        optionValue="code" placeholder="Seleccione" name="identificationType" required [showClear]="true"
        class="w-full md:w-56" #identificationType="ngModel"
        [ngClass]="{'p-invalid': identificationType.invalid && (identificationType.dirty || identificationType.touched)}">
      </p-select>
      <small *ngIf="identificationType.invalid && (identificationType.dirty || identificationType.touched)"
        class="p-error">Tipo de identificación es obligatorio.</small>
    </div>

    <div class="field">
      <label for="identificationNumber">Número Identificación:</label>
      <input pInputText id="identificationNumber" type="text" [(ngModel)]="form.identificationNumber"
        name="identificationNumber" required #identificationNumber="ngModel"
        [ngClass]="{'p-invalid': identificationNumber.invalid && (identificationNumber.dirty || identificationNumber.touched)}" />
      <small *ngIf="identificationNumber.invalid && (identificationNumber.dirty || identificationNumber.touched)"
        class="p-error">Número de identificación es obligatorio.</small>
    </div>

    <div class="field">
      <label for="names">Nombres completos:</label>
      <input pInputText id="names" type="text" [(ngModel)]="form.names" name="names" required #names="ngModel"
        [ngClass]="{'p-invalid': names.invalid && (names.dirty || names.touched)}" />
      <small *ngIf="names.invalid && (names.dirty || names.touched)" class="p-error">Los nombres son
        obligatorios.</small>
    </div>

    <div class="field">
      <label for="email">Email:</label>
      <input pInputText id="email" type="email" [(ngModel)]="form.email" name="email" email #email="ngModel"
        [ngClass]="{'p-invalid': email.invalid && (email.dirty || email.touched)}" />
      <small *ngIf="email.invalid && (email.dirty || email.touched)" class="p-error">Ingresa un email válido.</small>
    </div>

    <div class="field">
      <label for="cellphone">Celular:</label>
      <input pInputText id="cellphone" type="tel" [(ngModel)]="form.cellphone" name="cellphone" />
    </div>

    <h3>Dirección Principal</h3>

    <div class="field">
      <label for="mainProvince">Provincia:</label>
      <input pInputText id="mainProvince" type="text" [(ngModel)]="form.mainProvince" name="mainProvince" />
    </div>

    <div class="field">
      <label for="mainCity">Ciudad:</label>
      <input pInputText id="mainCity" type="text" [(ngModel)]="form.mainCity" name="mainCity" />
    </div>

    <div class="field">
      <label for="mainAddress">Dirección:</label>
      <input pInputText id="mainAddress" type="text" [(ngModel)]="form.mainAddress" name="mainAddress" />
    </div>

    <div class="botones">
      <button pButton label="Info" type="submit" severity="info" [raised]="true" label="Guardar" [disabled]="formRef.invalid"></button>
      <button pButton type="button" label="Limpiar Formulario" class="p-button-secondary"
        (click)="resetearFormulario()"></button>
      <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="cancelar()"></button>
    </div>

  </form>
</div>