<div *ngIf="cliente()">
  <h2>Direcciones adicionales de: {{ cliente()?.names }}</h2>

  <div class="lista-general">
    <p-table [value]="direcciones()" showGridlines [tableStyle]="{ 'min-width': '40rem' }" [paginator]="true" [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]" [responsiveLayout]="'scroll'">

      <ng-template pTemplate="header">
        <tr>
          <th>Provincia</th>
          <th>Ciudad</th>
          <th>Dirección</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-dir>
        <tr>
          <td>{{ dir.provincia }}</td>
          <td>{{ dir.ciudad }}</td>
          <td>{{ dir.direccion }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" class="text-center">No hay direcciones adicionales registradas.</td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>